.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 12px;
}

/* header */
.header {
    margin-top: map-get($spacers, 8);

    h1, h2 {
        font-size: $font-xxl;
        letter-spacing: 15.36px;
    }
    
    h2 {
        text-align: right;
        margin-left: auto;
        max-width: 636px;
    }
}

.imgSection {
    text-align: center;

    img {
        display: inline-block;
    }
}

/* profile */

.profile {
    background-color: $color-background;
    padding-top: map-get($spacers, 5);
    padding-bottom: map-get($spacers, 5);
}

.container p {
    margin-left: auto;
    font-size: $font-l;
    max-width: 636px;
}

/* main */
.main  {
    max-width: 636px;
    margin-top: map-get($spacers, 7);
    margin-bottom: map-get($spacers, 8);

    h3 {
        font-size: $font-xl;
        color: $color-stress;
        border-bottom: 3px solid $color-stress;
        margin-bottom: map-get($spacers, 3);
    }
}

.aboutSection {
    margin-bottom: map-get($spacers, 4);

    .aboutItem ~ .aboutItem {
        margin-top: map-get($spacers, 1);
    }

    a {
        font-size: $font-m;
    }

    & a:hover {
        color: $color-secondary;
    }
}

.educationSection, .workSection {
    margin-bottom: map-get($spacers, 4);
    .educationItem ~ .educationItem, .workItem ~ .workItem {
        margin-top: map-get($spacers, 3);
    }
}

.educationItem, .workItem {
    span {
        font-size: $font-s;
        color: $color-secondary;
    }

    p {
        font-size: $font-m;
    }
}

.awardsList {
    margin-top: map-get($spacers, 3);

    .awardsItem {
        font-size: $font-m;
    }

    .awardsItem ~ .awardsItem {
        margin-top: map-get($spacers, 2);
    }
}

/* footer */
footer {
    background-color: $color-primary;
    padding-top: map-get($spacers, 6);
    padding-bottom: map-get($spacers, 6);

    .mediaList {
        text-align: center;
    }

    .mediaItem ~ .mediaItem {
        margin-left: map-get($spacers, 4);
    }

    .mediaItem {
        display: inline-block;
        vertical-align: middle;
        height: 64px;

        & a:hover img {
            opacity: .8;
        }
    }
}