@import url("https://fonts.googleapis.com/css2?family=Castoro&display=swap"); /* color */
/* font-family */
/* font-size */
/* spacers */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: "Castoro";
}

a {
  color: #000;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px;
}

/* header */
.header {
  margin-top: 10rem;
}

h1, h2 {
  font-size: 128px;
  letter-spacing: 15.36px;
}

h2 {
  text-align: right;
}

.imgSection {
  text-align: center;
}
.imgSection::before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.imgSection img {
  display: inline-block;
  vertical-align: middle;
}

/* profile */
.profile {
  background-color: #EFEFEF;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.profileContainer {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px 0 672px;
}
.profileContainer p {
  font-size: 32px;
  max-width: 636px;
}

/* main */
.main {
  max-width: 636px;
  margin-top: 5rem;
}
.main h3 {
  font-size: 40px;
  color: #AE0000;
  border-bottom: 3px solid #AE0000;
  margin-bottom: 1rem;
}

.aboutSection {
  margin-bottom: 2.5rem;
}
.aboutSection .aboutItem ~ .aboutItem {
  margin-top: 0.5rem;
}
.aboutSection a {
  font-size: 24px;
}
.aboutSection a:hover {
  color: #949494;
}

.educationSection, .workSection {
  margin-bottom: 2.5rem;
}
.educationSection .educationItem ~ .educationItem, .educationSection .workItem ~ .workItem, .workSection .educationItem ~ .educationItem, .workSection .workItem ~ .workItem {
  margin-top: 1rem;
}

.educationItem span, .workItem span {
  font-size: 20px;
  color: #949494;
}
.educationItem p, .workItem p {
  font-size: 24px;
}

.awardsList {
  margin-top: 1rem;
}
.awardsList .awardsItem {
  font-size: 24px;
}
.awardsList .awardsItem ~ .awardsItem {
  margin-top: 0.75rem;
}

/* footer */
footer {
  margin-top: 10rem;
  background-color: #000;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
footer .mediaList {
  text-align: center;
}
footer .mediaList::before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
footer .mediaItem ~ .mediaItem {
  margin-left: 2.5rem;
}
footer .mediaItem {
  display: inline-block;
  vertical-align: middle;
  height: 64px;
}
footer .mediaItem a:hover img {
  opacity: 0.8;
}/*# sourceMappingURL=all.css.map */